/*  ----------------------------------------------------------- */
/*  Feuilles de styles personnelles des squelettes de www.Cetri.be  */
/*  ----------------------------------------------------------- */

/* taille typo
 * Base				100%
 * -------------------------------------
 * 20px				1.27em
 * 19px				1.21em
 * 18px				1.15em
 * 17px				1.09em
 * 16px				1.03em
 * 15px				0.96em
 * 14px				0.88em
 * 13px				0.82em
 * 12px				0.77em
 * 11px				0.71em
 * 10px				0.65em
 *  9px				0.59em
 * Attention : en dessous de 0.71em le texte devient illisible en text smallest sur MSIE
 */

/*  ------------------------------------------
/*  Correction des styles HTML par defaut
/*  ------------------------------------------ */
body, html { background: none; margin: 0; color: #000; padding:0; height: 100% }
img, table { margin: 0; padding: 0; border: none; }

/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */

a:link { color: #666666; border: 0; text-decoration: none; font-weight: bold;   }
a:visited { color: #666666; border: 0; text-decoration: none; font-weight: bold; }
a:hover { color: #999999; border: 0; text-decoration: none; font-weight: bold; }


/* * Couleurs des liens de Spip */
a.spip_note {} /* liens vers notes de bas de page */
a.spip_in { } /* liens internes */
a.spip_out {  } /* liens sortants */
a.spip_url {font-family: verdana, arial, sans-serif; } /* liens url sortants */
a.spip_glossaire { } /* liens vers encyclopedie */
.on { color: #333333; font-family: Verdana, Arial, Helvetica, sans-serif; font-variant: normal; text-decoration: none; font-weight: bold; }


/*  ------------------------------------------
/*  Blocs principaux
/*  ------------------------------------------ */

#page { width: 100%; text-align: left;}
#conteneur { width: 50em; margin-right: auto; margin-left: auto; margin-top: 1em; background-color: white; }
#conteneur #contenu { float: left; width: 33em; margin: 5px 0px 0px 0px; }
#contenu .contre-encart { line-height: 0.8em; border: none; margin: 0em 0.33em 1em 0.33em; padding: 4px 3px 4px 3px; width: 100%; background: white }



/* Bloc et sous-bloc */

.bloc { line-height: 0.8em; border: none; margin: 0em 0.33em 1em 0.33em; padding: 4px 3px 4px 3px; width: 100%; background: none }
.sous-bloc-gris {font-family: verdana, arial, sans-serif; font-size: 0.71em; background: #D9D8D7;  margin: 0px 0px 0px 0px; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC; border-top: 4px solid #CCCCCC; padding: 5px 2px 5px 5px; }
.sous-bloc-blanc {font-family: verdana, arial, sans-serif; font-size: 0.71em; background: white;  margin: 0px 0px 0px 0px; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC; border-top: 4px solid #CCCCCC; padding: 5px 2px 5px 5px; }
.sous-bloc-jaune {font-family: verdana, arial, sans-serif; font-size: 0.71em; background: #FFE9D2;  margin: 0px 0px 0px 0px; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC; border-top: 4px solid #CCCCCC; padding: 5px 2px 5px 5px; }
.sous-bloc-vert {font-family: verdana, arial, sans-serif; font-size: 0.71em; background: #E4E4C9;  margin: 0px 0px 0px 0px; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC; border-top: 4px solid #CCCCCC; padding: 5px 2px 5px 5px; }
.sous-bloc-blanc-sans-border {font-family: verdana, arial, sans-serif; font-size: 0.71em; background: white;  margin: 0px 0px 0px 0px; border: 0px #999999 solid; padding: 5px 2px 5px 5px; }
.sous-bloc-blanc-special-livres {font-family: verdana, arial, sans-serif; font-size: 0.71em; background: white;  margin: 0px 0px 0px 0px; border-right: 1px solid #CCCCCC; border-bottom: 4px solid #CCCCCC; border-left: 1px solid #CCCCCC; border-top: 4px solid #CCCCCC; padding: 5px 2px 5px 5px; }


.bloc-titre { padding: 0px 0px 0px 0px; font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 1.3em; font-weight: bold; background: none; color: #666666; margin: 0px 0px 0px 0px; border: none; font-variant: small-caps;  }

.sous-bloc-gris .spip_logos { float: left; clear: none; margin: 0px 4px 2px 2px; border: 1px solid #CCCCCC; }
.sous-bloc-blanc .spip_logos { float: left; clear: none; margin: 0px 4px 2px 2px; border: 0px solid #CCCCCC; }
.sous-bloc-jaune .spip_logos { float: left; clear: none; margin: 0px 4px 2px 2px; border: 1px solid #CCCCCC; }
.sous-bloc-jaune .colonne-1 .spip_logos { float: left; clear: none; border-right: 3px solid #CCCCCC; border-bottom: 3px solid #CCCCCC; border-left: 2px solid #CCCCCC; border-top: 2px solid #CCCCCC; }
.sous-bloc-blanc-special-livres .colonne-1 .spip_logos { float: left; clear: none; border: 1px #CCCCCC solid; }
.sous-bloc-blanc .colonne-1 .spip_logos { float: left; clear: none; border-right: 3px solid #CCCCCC; border-bottom: 3px solid #CCCCCC; border-left: 2px solid #CCCCCC; border-top: 2px solid #CCCCCC; } 

.sous-bloc-conteneur-pour-colonnes  { display: block; width: 100%; height: 118px; border-bottom: 1px solid #CCCCCC; padding: 5px 0px 5px 0px; } 
.sous-bloc-blanc-special-livres .colonne-1 { float: left; width: 20%; border: none; margin: none, padding: none }
.sous-bloc-blanc-special-livres .colonne-2 { float: right; width: 80%; border: none; margin: none, padding: none }
.sous-bloc-jaune .colonne-1 { float: left; width: 40%; border: none; margin: none, padding: none }
.sous-bloc-jaune .colonne-2 { float: right; width: 60%; border: none; margin: none, padding: none }
.sous-bloc-blanc .colonne-1 { float: left; width: 40%; border: none; margin: none, padding: none }
.sous-bloc-blanc .colonne-2 { float: right; width: 60%; border: none; margin: none, padding: none }


#conteneur #contenu-autres-parutions { float: left; width: 28em; margin: 5px 0px 0px 0px; }/* Page des autres parutions */
#contenu-autres-parutions .contre-encart { line-height: 0.8em; border: 1px solid #CCCCCC; margin: 0em 0.33em 1em 0.33em; padding: 4px 3px 4px 3px; width: 100%; background: white }

.contre-encart-sommaire { line-height: 0.8em; border: 1px solid #CCCCCC; margin: 0em 0.33em 1em 0.33em; padding: 4px 3px 4px 3px; width: 100%; background-color: #D9D8D7; }
.contre-encart-sommaire .col-1 { width: 50%; float: left; }
.contre-encart-sommaire .col-2 { width: 50%; float: right; }
.contre-encart-mot { line-height: 0.8em; margin: 0em 0.33em 0.33em 0.33em; padding: 4px 1px 2px 1px; width: 100%; background: white }

#contenu .contre-encart .titre-contre-encart { padding-bottom: 0px; font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 1.3em; font-weight: bold; background: none; color: #666666; margin: 3px 3px 6px 0px; border-bottom: 4px solid #CCCCCC; font-variant: small-caps;  }
#contenu .contre-encart-mot .titre-contre-encart { padding-bottom: 0px; font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 1.3em; font-weight: bold; background: none; color: #666666; margin: 3px 2px 6px 0px; border-bottom: 4px solid #CCCCCC; font-variant: small-caps;  }
#contenu-autres-parutions .contre-encart-mot .titre-contre-encart { padding-bottom: 0px; font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 1.3em; font-weight: bold; background: #6C7288; color: #CCCCCC; margin: 3px 2px 6px 0px; border-bottom: 4px solid #CCCCCC; font-variant: small-caps;  }
#contenu-autres-parutions .contre-encart .titre-contre-encart { padding-bottom: 0px; font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 1.3em; font-weight: bold; background: #6C7288; color: #CCCCCC; margin: 3px 3px 6px 4px; border-bottom: 4px solid #CCCCCC; font-variant: small-caps;  }
#contenu .sites-web { line-height: 0.8em; border: 1px solid #CCCCCC; margin: 0em 0.33em 1em 0.33em; padding: 4px 3px 4px 3px; width: 70%; background: white }


#conteneur #navigation { float: right; width: 14em; margin: 5px 0px 0px 0px; line-height: 0.8em;}
#navigation .encart { margin: 0em 0.33em 1em 0.33em; padding: 4px 0px 4px 0px; width: 100%; background: white;  border: 0px #CCCCCC solid;  }
#navigation-autres-parutions .encart { float: left; margin: 0em 0.33em 1em 0.33em; padding: 4px 0px 4px 0px; width: 14em; background: white;  border: 1px #CCCCCC solid;  }
#navigation .encart-article { width: 100%; margin: 0em 0.33em 1em 0.33em; padding: 4px 0px 4px 0px; width: 100%; }
.titre-encart { font-variant: small-caps; padding-bottom: 0px; font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 1.3em; font-weight: bold; background: none; color: #666666; margin: 3px 3px 2px 4px; border-bottom: #CCCCCC solid 4px; border-top: #CCCCCC solid 0px; border-right: #CCCCCC solid 0px; border-left: #CCCCCC solid 0px } 
#navigation p, .encart p { margin: 0; padding: 0.2em 0.7em; text-align: left;  }
#navigation .encart .nav-autres-livres .spip_logos { float: right; width: 100%; border: 1px solid #CCCCCC; }
#navigation .encart-article .titre-encart { height: 15px; padding: 0px 0px 0px 0px; font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 1.3em; font-weight: bold; background: white; color: #999999; margin: 0px 0px 0px 0px; border: 0;   } 
#conteneur #navigation-autres-parutions { float: right; width: 19em; margin: 5px 0px 0px 0px; line-height: 0.8em; }
#navigation-autres-parutions .contre-encart { line-height: 0.8em; border: 1px solid #CCCCCC; margin: 0em 0.33em 1em 0.33em; padding: 4px 3px 4px 3px; width: 100%; background: white }
#navigation-autres-parutions .contre-encart .titre-contre-encart { padding-bottom: 0px; font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 1.3em; font-weight: bold; background: #6C7288; color: #CCCCCC; margin: 3px 3px 6px 4px; border-bottom: 4px solid #CCCCCC; font-variant: small-caps;  }


/*  ------------------------------------------
/*  Entête - Haut de page - Menus - Logos
/*  ------------------------------------------ */

#menu-1 { width: 100%; height: 30px; margin: 0px 0px 0px 0px; border-bottom: solid 3px #CCCCCC; background : #6C7288; }
#menu-1 .col-1 { float: left; width: 80%;  }
#menu-1 .col-1 ul#tabnav { font: bold 0.71em verdana, arial, sans-serif; padding: 0px 0px 0px 0px; border-bottom: 0px solid #CCCCCC; margin: 0px auto 5px auto; }
#menu-1 .col-1 ul#tabnav li { float: left; height: 21px; background-color: none; margin: 0px 2px 0px 2px; padding: 0px 0px 0px 10px; border-left: 2px solid #CCCCCC;  }
#menu-1 .col-1 ul#tabnav li.active {  }
#menu-1 .col-1 #tabnav .accueil { float: left; color: white; padding: 4px; }
#menu-1 .col-1 #tabnav a { float: left; display: block; color: #CCCCCC; padding: 4px; margin: 0 }
#menu-1 .col-1 #tabnav a.on { float: left; display: block; color: white; padding: 4px; margin: 0  }
#menu-1 .col-1 #tabnav a:hover { float: left; display: block; color: white; padding: 4px; margin: 0  }


#menu-1 .col-2 { float: right; width: 20%;  }
#menu-1 .col-2 ul#tabnav2 { font: bold 0.71em verdana, arial, sans-serif; padding: 0px 0px 0px 0px; border-bottom: 0px solid #CCCCCC; margin: 0px auto 5px auto; }
#menu-1 .col-2 ul#tabnav2 li { float: left; height: 21px; background-color: none; margin: 0px 2px 0px 2px; padding: 0px 0px 0px 10px; border-left: 2px solid #CCCCCC;  }
#menu-1 .col-2 ul#tabnav2 li.active {  }
#menu-1 .col-2 #tabnav2 .accueil { float: left; color: white; padding: 4px; }
#menu-1 .col-2 #tabnav2 a { float: left; display: block; color: #CCCCCC; padding: 4px; margin: 0 }
#menu-1 .col-2 #tabnav2 a.on { float: left; display: block; color: white; padding: 4px; margin: 0  }
#menu-1 .col-2 #tabnav2 a:hover { float: left; display: block; color: white; padding: 4px; margin: 0  }

#menu-sommet-langues {width: 100%;  background: none; height: 15px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; } 
#menu-sommet-langues .menu_langues  { background : none; font: bold 0.71em verdana, arial, sans-serif; float: right; padding-right: 20px; }
#menu-sommet-langues .languencours { color: black; }

#menu-2 { width: 53em; margin: 0px auto 0px auto; border-bottom: 2px #CCCCCC solid; border-right: 2px #CCCCCC solid; background : white   }
#menu-2 ul#publi { font: bold 11px verdana, arial, sans-serif; list-style-type: none; padding: 0px 0px 21px 0px; border: 0px 0px 0px 0px; margin: 0 0 0 0; background : none; }
#menu-2 ul#publi li { float: left; height: 21px; background : white; margin: 0px 0px 0px 0px; padding: 0px 2px 0px 2px; border-left: 2px solid #CCCCCC;  border-top: none;  border-bottom: none; border-right: none; } 
#menu-2 ul#publi li.active { border-top: none; background-color: none; }
#menu-2 #publi a { float: left; display: block; color: #999999; text-decoration: none; padding: 4px; }
#menu-2 #publi a.on { float: left; display: block; color: #666666; text-decoration: none; padding: 4px; }
#menu-2 #publi a:hover { color : #666666; border-left: 0px solid #999999; border-top: 0px solid #999999;  border-bottom: 0px solid #999999; border-right: 0px solid #999999; }

#logo-sommet { width: 100%; text-align: center; height: 35px; border-bottom: solid #CCCCCC 0px; margin: 10px auto 0px auto; background: none; padding: 0px 0px 0px 0px }


/*  ---------------------------------------------------------------------------
/*  Logo du CETRI des pages -à propos du CETRI- et -centre de documentation- :
/*  --------------------------------------------------------------------------- */
#logo-cetri { margin 0px 0px 15px 0px; width: 100px, height: 130px; padding: 0  }
#logo-cetri .spip_logos {border: none }


/*  ------------------------------------------
/*  Pied de page
/*  ------------------------------------------ */

#pied  { bottom: 0; clear: both; margin-bottom: 0; font-size: 0.71em; width: 90%; background : white; border-top: 2px #CCCCCC solid; height: 30px; font-family: verdana, arial, sans-serif; color: black; padding: 6px 5% 6px 5%; text-align: center; }
#pied a { color: #666666; }
#pied img { vertical-align: bottom; }

/*  ------------------------------------------
/*  Typographie generale du site
/*  ------------------------------------------ */

/* Titre principal encart / contre-encart / rubrique / Article / auteur / Mot */
h1 {font-size: 1.15em; margin: 0; padding: 0; font-weight: bold; font-family: "Trebuchet MS", Helvetica, sans-serif; }
h2 {font-size: 0.83em; margin: 0; padding: 0; font-weight: bold; font-size: "Trebuchet MS", Helvetica, sans-serif;}
h3 {font-size: 0.71em; margin: 0; padding: 0; font-weight: bold; font-family: "Trebuchet MS", Helvetica, sans-serif; }
h5 {font-size: 0.71em; margin: 0; padding: 0; font-weight: bold; font-family: verdana, arial, sans-serif; }


/*  ------------------------------------------
/*  Typographie generale du site
/*  ------------------------------------------ */

.article-titre  {font-size: 1.15em; margin: 0; padding: 0; font-weight: bold; font-family: "Trebuchet MS", Helvetica, sans-serif; font-variant: small-caps; }
.surtitre-liste-articles { color: #333333; font-family: verdana, arial, sans-serif; font-size: 0.71em; padding-left: 5px;  }
.article-soustitre { }
.article-chapo  { text-align: justify; font-family: Georgia, Times New Roman, Times, serif; font-size: 0.77em; font-weight: bold;  }
.article-texte { text-align: justify; font-family: Georgia, Times New Roman, Times, serif; font-size: 0.77em; }
.ps, .notes, .opinions, .autorisation-reproduction { margin-top: 1.4em; padding-top: 2px; border-top: 1px solid #CCC; }
.ps { font-size: 0.71em; font-family: Georgia, Times New Roman, Times, serif;  }
.notes { clear: both; font-size: 0.71em; font-family: Georgia, Times New Roman, Times, serif; }
.opinions { clear: both; font-size: 0.71em; margin-bottom: 2em; color: #999999; text-align: justify; font-family: Georgia, Times New Roman, Times, serif; }
.autorisation-reproduction { clear: both; font-size: 0.71em; margin-bottom: 2em; color: #999999; text-align: justify; font-family: Georgia, Times New Roman, Times, serif; }
.menu-article { text-align: right; margin: 1.5em 0em 1.5em 0em; }
.menu-article a { font-size: 0.71em; } 

#hierarchie { margin-top: 1.4em; padding-top: 5px; border-top: 1px solid #CCC; font: 0.71em verdana, arial, sans-serif; }

.cartouche { margin-bottom: 0.3; }

.cartouche p { margin: 0; padding: 0; clear: left; }
.cartouche .traductions { font-size: 0.71em; }
.cartouche .traductions * { display: inline; }
.cartouche .traductions li { padding-left: 1em; }

.lien {font-family: verdana, arial, sans-serif; font-size: 0.71em; font-weight: bold; line-height: 0.8em }

.livres-titre { font-family: verdana, arial, sans-serif; font-size: 0.8em; font-weight: bold; background: none; margin-top: 0.5em; margin-bottom: 0.5em;  }
.presentation-livre .spip_logos { float: right; margin: 0px 0px 3px 4px; clear: left; border: 1px solid #CCCCCC; }

.menu-titre { font-family: Georgia, Times New Roman, Times, serif; height: 30px; background : #CCCCCC; border-bottom: solid #666666 1px; font-weight: bold; font-variant: small-caps; padding: 4px 4px 4px 0px; margin : 0em 0.33em 0px 0.33em; color: black; width: 100%; font-size : 1em; }
.liste-titre {font-family: verdana, arial, sans-serif; font-size: 0.71em; font-weight: bold; }
.liste-titre-2 {font-family: verdana, arial, sans-serif; font-size: 0.77em; font-weight: bold; font-variant: small-caps; line-height: 0.9em }
.titre a { font-family: verdana, arial, sans-serif; font-size: 0.71em; font-weight: bold; line-height: 0.8em }

.titre-date-agenda {background: #D9D8D7; padding-left: 10px; font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 0.9em; font-weight: bold; color: black; margin-bottom: 0em; text-align: left;  border: 1px solid #666666  }

.titre-date {font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 1em; font-weight: bold; color: #6C7288; margin-bottom: 0.33em;  }

.chapo  { text-align: justify; font-family: Georgia, Times New Roman, Times, serif; font-size: 0.77em; font-weight: bold;  }
.texte { text-align: justify; font-family: Georgia, Times New Roman, Times, serif; font-size: 0.77em; }
.intro { clear: none; text-align: justify; margin: 4px 2px 4px 2px; font-family: Georgia, Times New Roman, Times, serif; font-size: 0.71em; }
small { font-size: 0.71em; font-family: verdana, arial, sans-serif; }

.nav-agenda { margin: 0px 3px 6px 4px; padding: 4px 3px 4px 4px; background: white; line-height: 0.8em; padding: 5px 2px 5px 5px;   }

.nav-menu-presentation { margin: 0px 3px 6px 4px; padding: 4px 3px 4px 4px; background: white; line-height: 0.8em; padding: 5px 2px 5px 5px;   }
.nav-menu-presentation .on { color: black; }

.nav-menu-publications { margin: 0px 3px 6px 4px; padding: 4px 3px 4px 4px; background: white; line-height: 0.8em; padding: 5px 2px 5px 5px;   }
.nav-menu-publications .on { color: black; }

.nav-autres-parutions { margin: 0px 3px 6px 4px; padding: 4px 3px 4px 4px; background: white; line-height: 0.8em;  padding: 5px 2px 5px 5px;  }
.nav-recherche { margin: 0em 0.33em 0.66em 0.66em; padding: 4px 0px 4px 0px; width: 100%; background: white; line-height: 0.8em; border-left: 0px #CCCCCC solid; border-bottom: 0px #999999 solid; border-right: 0px #999999 solid;  }
.nav-autres-livres { margin: 0px 3px 6px 4px; padding: 4px 3px 4px 4px; background: white; line-height: 0.8em; border-left: 1px #CCCCCC solid; border-bottom: 1px #999999 solid; border-right: 1px #999999 solid; padding: 5px 2px 5px 5px;   }

.nav-index { background: #D9D8D7; margin: 1px 3px 1px 4px; border-bottom: 1px #CCCCCC solid; padding: 5px 2px 5px 5px; }
.nav-index .on { color: black; }

.nav-articles { background: #E4E4C9; margin: 0px 0px 1px 0px; border-bottom: 1px #999999 solid; border-top: 1px #999999 solid;padding: 5px 2px 5px 5px; }
.nav-articles a { font-family: verdana, arial, sans-serif; font-size: 0.71em; }

.nav-auteurs  { background: #D9D8D7;  margin: 0px 0px 1px 0px; border: 1px #999999 solid; padding: 5px 2px 5px 5px;  }
.nav-auteurs .bio { font-family: verdana, arial, sans-serif; font-size: 0.71em; text-align: justify }
.nav-auteurs a { font-family: verdana, arial, sans-serif; }

.nav-articles-mots-cles  { background: #D9D8D7;  margin: 0px 0px 1px 0px; border: 1px #999999 solid; padding: 5px 2px 5px 10px;   }
.nav-articles-mots-cles-nom-groupe  { background: #D9D8D7;  margin: 0px 0px 0px 0px; border-bottom: 1px #CCCCCC solid; padding: 5px 2px 5px 3px;  }
.nav-articles-mots-cles a { font-family: verdana, arial, sans-serif; font-size: 0.71em; }
.nav-articles-mots-cles .date { font-family: verdana, arial, sans-serif; font-size: 0.71em; }

.nav-menu  { font-family: verdana, arial, sans-serif; font-size: 0.71em; background: #D9D8D7;  margin: 0px 0px 1px 0px; border: 1px #999999 solid; padding: 5px 2px 5px 6px;   }
.nav-menu a {  }
.nav-menu a:hover { color: black; }
.nav-menu .on { color: black; }

.menu-mot { color: white; font-weight: bold; font-family: verdana, arial, sans-serif; font-size: 0.71em; margin: 0px 0px 0px 0px; padding: 2px 0 2px 0; text-align: center; background: #6C7288; border: 1px #CCCCCC solid  }
.menu-mot a { color: #CCCCCC }
.menu-mot a:hover { color: white; }
.menu-mot on { color: white; }




a.lire-suite { font-family: verdana, arial, sans-serif;  }
a.lire-suite span { padding-left:0.5ex; color: #999933; }

.titres-fiche-presentation-article  {background: #6C7288; font-size: 0.9em; margin: 15px 0px 10px 0px; padding: 4px 2px 4px 2px; font-weight: bold; font-family: "Trebuchet MS", Helvetica, sans-serif; color: white; }


/*  ------------------------------------------
/*  Cadres de navigation et de contenu
/*  ------------------------------------------ */

.contre-encart .spip_logos { float: left; clear: none; margin: 0px 4px 4px 2px; border: 1px solid #CCCCCC; }

.cadre-derniere-publication .spip_logos { float: left; clear: none; margin: 0px 4px 2px 2px; border: 1px solid #CCCCCC; }

.menu-images .spip_logos { border: 1px solid #CCCCCC; } 
.cartouche-cetri .spip_logos { float: right; margin: 0px 0px 3px 4px; clear: left; }
.cartouche-cetri .titre { font-size: 1.08em; font-weight: bold; font-variant: small-caps; margin-bottom: 4px }
.cartouche-cetri .surtitre { font-size: 0.85em; font-weight: bold; color: #999999; }

.cartouche-multimedia .spip_logos { float: left; margin: 0px 0px 2px 4px; clear: left; }
.cartouche-multimedia .titre { font-size: 1.08em; font-weight: bold; font-variant: small-caps; margin-bottom: 4px }
.cartouche-multimedia .surtitre { font-size: 0.85em; font-weight: bold; color: #999999; }

.cartouche .spip_logos { float: right; margin: 0px 0px 3px 4px; clear: left; border: 1px solid #CCCCCC; }
.cartouche .titre { font-size: 1.3em; font-weight: bold; font-variant: small-caps; margin-bottom: 4px; color: black;   }
.cartouche .surtitre { font-size: 0.85em; font-weight: bold; color: #999999; }

.titre-liste-rubrique { width: 100%; background: #6C7288; clear: both; margin-top: 0.5em; padding: 5px 2px 5px 5px; border: 2px solid #CCC; margin-bottom: 0.5em; font-size: 0.9em; color: white;  }

/*  ------------------------------------------
/*  Page 'article'
/*  ------------------------------------------ */

.lien { background: #EEE; margin: 1em; margin-bottom: 1.5em; padding: 0.82em; border: 1px solid #CCC; font-size: 0.82em; font-weight: bold; }

.ps h2, .notes h2 { font-size: 1.19em; font-weight: bold; }
h3.spip {text-align: left; font-size: 1.2em; }


/*  ------------------------------------------
/*  Formulaire de recherche
/*  ------------------------------------------ */

.formulaire_recherche { text-align: left; margin-top: 0.2em }
.formulaire_recherche label { display: none; }
.formulaire_recherche a { color: #990000;  }

#q{	border-top: 2px solid #CCCCCC; border-left: 2px solid #CCCCCC; border-bottom: 2px solid #999999; border-right: 2px solid #999999;
	background: #FFFFFF url("../IMG/icones/search.gif") no-repeat 0px center;;
	padding-left: 18px;
	width: 170px;
	height: 15px }
	
#q:focus {background: #fff url ("../IMG/icones/search.gif") no-repeat 0px center; }

.loupe {background: url("../dist/images/loupe.png") repeat-x 0px center; padding-left: 10px; width: 26px;  }







/* Espaceur de blocs */
.nettoyeur { clear: both; margin: 0; padding: 0; border: none; height: 0; line-height: 1px; margin-bottom: 0em; font-size: 1px; text-align: left; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }
#publications {
	clear: both;
	margin-bottom: 2em;
	font-size: 0.85em;
	text-align: right;
	padding-right: 30px}
	
#publications a {font-size: 0.85em; }



/*  ------------------------------------------
/*  Typographie generale du site
/*  ------------------------------------------ */

/* Typo pour les menus et la navigation */
body, #navigation, .encart {font-family: none }

/* Typo pour les citations et extraits introductifs */
q, blockquote, .liste-articles li , h3.spip, .voirskel {
	font-family: "Trebuchet MS", Helvetica, sans-serif; }


/*  ------------------------------------------
/*  Habillage des menus et de la navigation
/*  ------------------------------------------ */

/*  Habillage general des menus de navigation
---------------------------------------------- */
.rubriques, .breves, .syndic, .forums, .divers { min-width: 10em; border: 1px solid #CCC; margin-top : 0em; margin-bottom: 1em; margin-left: 0.33em; padding: 3px 3px 3px 3px; font-size: 0.9em; line-height: 1em; }




/*  Des couleurs specifiques selon les types de menus
---------------------------------------------- */
.rubriques { background: none;}


.breves { background: none; }


.syndic { background: none; }


.forums { background: #EAEAFF; }

.divers { background: #F8F8E8; }



/*  Portfolio
---------------------------------------------- */
#documents_portfolio {
	clear: both;
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 1px solid #CCC; }
#documents_portfolio h2 {  font-weight: bold; }

#document_actif { margin-top: 1em; }

/*  Listes de documents joints (a un article ou une rubrique)
---------------------------------------------- */
#documents_joints { background: none; margin-top: 1.4em; margin-bottom: 1.4em; padding-top: 2px; border-top: 2px solid #CCC; }
#documents_joints h2 { margin-bottom: 0.4em; font-size: 0.77em; font-variant: small-caps; font-weight: bold; font-family: verdana, arial, sans-serif; }



	
.pagination { font-family: verdana, arial, sans-serif; font-size: 0.77em; font-weight: bold; text-align: center; }

/*  ------------------------------------------
/*  Habillage specifique du plan du site
/*  ------------------------------------------ */

.page_plan .cartouche { display: none; }

.page_plan #contenu h2 {
	clear: both;
	background: #EEE;
	border: 1px solid #CCC;
	padding: 0.5em;
	margin-bottom: 1em;
	font-weight: bold;
	text-align: center; }

.page_plan #contenu .contre-encart ul {
	display: block;
	clear: left;
	margin-top: 0;
	margin-bottom: 1em;
	padding-top: 0; }
.page_plan #contenu .contre-encart li {}

/*  ------------------------------------------
/*  Habillage des formulaires
/*  ------------------------------------------ */

.formulaire_spip { text-align: left; font-family: verdana, arial, sans-serif;   }
.formulaire_spip p { margin: 0.5em 0; padding: 0; }

.formulaire_spip fieldset { border: none}
.formulaire_spip legend {  }

.formulaire_spip label { font-size: 0.71em }
.formulaire_spip .forml { width: 99%; font-family: verdana, arial, sans-serif; font-size: 0.71em; }

/* Boutons */
.spip_bouton { text-align: right; }
.spip_bouton input { float: right; }

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #e86519; }
fieldset.reponse_formulaire { border-color: #e86519; font-weight: normal; }

/* Previsualisation du message */
fieldset.previsu { padding: 1em; }

/* Formulaire de login au forum */
.formulaire_login_forum .forml { width: 12em; }
.formulaire_login_forum .spip_logos { float: right; padding-left: 10px; }

/* Choix des mots-clefs */
ul.choix_mots { float: left; width: 47%; margin: 0; padding: 0; list-style: none; } 
ul.choix_mots label { display: inline; }




/*  ------------------------------------------
/*  Habillage des petitions
/*  ------------------------------------------ */

#signatures { clear: both; font-size: 0.77em; }

#signatures h2 {
	padding: 0.5em;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold; }

#signatures table { width: 100%; margin: 1em 0; }
#signatures thead { display: none; } /* On n'affiche pas les titres du tableau */

#signatures td.signature-date {
	background: #E4F0F0;
	padding: 0.5em;
	white-space: nowrap; }

#signatures td.signature-nom {
	background: #ECF4F4;
	padding: 0.2em;
	text-align: center;
	font-weight: bold; }

#signatures td.signature-message {
	background: #F4F8F8;
	padding: 0.4em;
	font-size: 0.96em; }



.liste-articles-ligne {
	border-bottom-width: 100%;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 5px;
	margin-top: 5px
}

/*  ------------------------------------------
/*  Tableaux internes aux articles
/*  ------------------------------------------ */

table.spip { text-align: left; border-top: 1px #CCCCCC solid; border-left: 1px #CCCCCC solid; border-right: 1px #999999 solid; border-bottom: 1px #999999 solid; margin: 5px auto 10px auto; width: 100%; padding: 3px 3px 3px 3px; }
table.spip tr.row_first { background-color: white; border-bottom: 1px #CCCCCC solid; }
table.spip tr.row_odd { background-color: white;  }
table.spip tr.row_even { background-color: white;  }
table.spip td { padding: 2px 2px 2px 2px;  }
table.spip caption {margin: 0 auto 0 auto; width: 100%; font-weight: bold; text-align: center; padding: 3px 3px 3px 3px; background : #6C7288; color: white; border-color: #CCCCCC; border-style: solid; border-width: 1px 1px 3px 1px; }


/*  ------------------------------------------
/*  Logos, documents et images
/*  ------------------------------------------ */

.spip_documents { text-align: center; }
.spip_documents img { border: 1px solid #666;  }
.spip_documents_center { clear: both; width: 100%; margin: auto; }
span.spip_documents_center { display: block; margin-top:1em; }
.spip_documents_left { float: left; margin-right: 7px; margin-bottom: 5px;   }
.spip_documents_right { float: right; margin-left: 7px; margin-bottom: 5px; }
.spip_doc_titre { font-weight: bold; font-size: 0.9em; margin-left: auto; margin-right: auto; }
.spip_doc_descriptif { clear: both; font-size: 0.9em; margin-left: auto; margin-right: auto; }



/*  ------------------------------------------
/*  Classement alphabétique
/*  ------------------------------------------ */

#expose {text-decoration:none; color: #990000; width: 10px;   }
.laliste a{ font-weight: bold; }
.laliste a span{  }

#alphabetique{ color:#555; margin-top: 15px;  } 
#alphabetique li { display:inline; background: white; width: 10px; text-align: center; margin: 0px 1px 0px 1px; padding: 1px 1px 1px 1px; border-right: 1px solid #999999; border-bottom: 1px solid #999999; border-left: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC }
#alphabetique a span { display: block; background: none; } /*couleur des blocs du texte*/
#alphabetique a span {float:none;  }
#alphabetique a:hover span { color: #999999;  }/*couleur du lien au survol seulement*/
#alphabetique a:hover { background: none;  } /*couleur du bloc au passage de la souris*/
#alphabetique a:hover span { background: none; color: #999999  } /*couleur du bloc du texte au passage de la souris*/
