@charset "UTF-8";
/* CSS Document */



.mypets{ /*header of 1st demo*/
cursor: hand;
cursor: pointer;
padding: 5px 5px;
margin: 8px 0 8px 10px;
border-bottom:1px #CCCCCC dotted;
font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 1.3em; font-weight: bold; background: url("/squelettes/images/puces/1282912284_129.png") no-repeat right center; color: #666666;
}

.openpet{ /*class added to contents of 1st demo when they are open*/
background: url("/squelettes/images/puces/1282912295_130.png") no-repeat right center; border:none;
}


h3.mypets{font-size:14px; font-family:Tahoma, Helvetica, sans-serif; }

.thepet .liste ul { padding-left:15px; }
.thepet .liste ul li a {font-weight:normal }