



/* --------------------------------------------------------------

   Comment utiliser une fonte «non-standard» sur un site Web ?
   Cf.: http://www.alsacreations.com/astuce/lire/630-fonte-personnalisee-site-web.html

-------------------------------------------------------------- */

@font-face {
    font-family: "DIN Medium";
    src: url('squelettes/polices/DIN Medium.ttf');
}
@font-face {
    font-family: "DIN BoldAlternate";
	font-weight:bold;
    src: url('squelettes/polices/DIN BoldAlternate.ttf');
}


/*

    ATTENTION
    L'usage de proprietes -webkit-* sans leurs contreparties
    (-o-*, -moz-*, etc.) est fortement deconseille !
    cf. http://www.webstandards.org/2012/02/09/call-for-action-on-vendor-prefixes/

    Prenez le temps de corriger s'il vous plait : les proprietes CSS prefixees ne sont en theorie
    destinees qu'a des fins de test.

*/

/* end */